* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #fff7fa;
    color: #333;
}

/* Navbar */

.navbar {
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #e83e8c;
}

.logo span,
footer span {
    color: #7b2cbf;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a:hover,
.nav-links .active {
    color: #e83e8c;
}

/* Home Hero */

.hero {
    min-height: 600px;
    display: flex;
    align-items: center;
    padding: 50px 10%;
    background: linear-gradient(
        120deg,
        #ffe0ec,
        #fff7fa
    );
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 55px;
    color: #42162f;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #e83e8c;
}

.hero p {
    font-size: 18px;
    line-height: 1.7;
    color: #666;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #e83e8c;
    padding: 14px 30px;
    border-radius: 30px;
    font-weight: bold;
}

.btn:hover {
    background: #c52d72;
}

/* Features */

.features {
    padding: 70px 8%;
    text-align: center;
}

.features h2 {
    font-size: 36px;
    color: #42162f;
    margin-bottom: 40px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.feature-card {
    background: white;
    padding: 35px 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.feature-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.icon {
    font-size: 45px;
    margin-bottom: 15px;
}

.feature-card h3 {
    color: #e83e8c;
    margin-bottom: 12px;
}

.feature-card p {
    color: #777;
    line-height: 1.6;
}

/* Offer */

.offer {
    background: #42162f;
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.offer h2 {
    font-size: 38px;
    margin-bottom: 15px;
}

.offer p {
    font-size: 19px;
    margin-bottom: 25px;
}

.offer strong {
    color: #ff75ae;
}

/* Page Title */

.page-title {
    background: #ffe0ec;
    text-align: center;
    padding: 70px 20px;
}

.page-title h1 {
    font-size: 45px;
    color: #42162f;
    margin-bottom: 10px;
}

.page-title p {
    color: #666;
    font-size: 18px;
}

/* Products */

.products {
    padding: 70px 8%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    padding-bottom: 25px;
    
}

.product-card:hover {
    transform: translateY(-7px);
    transition: 0.3s;
}

.product-img {
      height:200px;
     
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

.pink {
    background: #ffe0eb;
}

.purple {
    background: #eadcff;
}

.peach {
    background: #ffe2d2;
}

.blue {
    background: #dff2ff;
}

.rose {
    background: #ffdfe7;
}

.gold {
    background: #fff0c7;
}

.product-card h3 {
    margin-top: 20px;
    color: #42162f;
    font-size: 21px;
}

.product-card p {
    color: #777;
    margin: 10px 0;
}

.product-card h4 {
    color: #e83e8c;
    font-size: 22px;
    margin: 12px;
}

.product-card button,
form button {
    border: none;
    background: #e83e8c;
    color: white;
    padding: 11px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.product-card button:hover,
form button:hover {
    background: #c52d72;
}

/* About */

.about {
    padding: 80px 10%;
}

.about-box {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.about-box h2 {
    color: #e83e8c;
    margin-bottom: 20px;
}

.about-box p {
    line-height: 1.8;
    color: #666;
    margin-bottom: 20px;
}

/* Mission */

.mission {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px 10% 80px;
}

.mission div {
    background: #42162f;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
}

.mission h3 {
    margin-bottom: 12px;
    color: #ff8fbe;
}

.mission p {
    color: #ddd;
}

/* Contact */

.contact {
    padding: 80px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.contact-info {
    background: #42162f;
    color: white;
    padding: 40px;
    border-radius: 15px;
}

.contact-info h2 {
    color: #ff8fbe;
    margin-bottom: 30px;
}

.contact-info p {
    margin: 22px 0;
    color: #eee;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input,
form textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    outline: none;
}

form input:focus,
form textarea:focus {
    border-color: #e83e8c;
}

form button {
    width: 160px;
}

/* Footer */

footer {
    background: #24101e;
    color: white;
    text-align: center;
    padding: 35px 20px;
}

footer h2 {
    color: #e83e8c;
    margin-bottom: 12px;
}

footer p {
    color: #bbb;
}

/* Responsive */

@media (max-width: 900px) {

    .navbar {
        padding: 0 4%;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-container,
    .mission {
        grid-template-columns: 1fr;
    }

    .contact {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 42px;
    }
}

@media (max-width: 600px) {

    .navbar {
        height: auto;
        padding: 20px;
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        min-height: 500px;
        padding: 40px 25px;
    }

    .hero h1 {
        font-size: 35px;
    }

    .products {
        grid-template-columns: 1fr;
        padding: 50px 25px;
    }

    .contact {
        padding: 50px 25px;
    }

    .about {
        padding: 50px 25px;
    }
}
